# Data Science Tools and Ecosystem
---

## Author
Kamil Kakar

---

#### Introduction
In this notebook, Data Science Tools and Ecosystem are summarized

----

#### Objectives

- Popular languages for Data Science
- Popular Packages used by Data Scientists
- Open Source tools development environment
- Mathematical operations performed

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. Julia
---

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit Learn
6. Caret
    
---

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Zeppelin |
| RStudio |

---

### Below are a few examples of evaluating arithmetic expressions in Python


---

In [1]:
(3*4)+5

17

In [2]:
# Converting minutes into hours
# 1 hour = 60 minutes 
# x hours = 200 minutes
# cross multiply

x = 200/60
x

3.3333333333333335